{%extends 'base.html'%}
{%block content%}
<main>
    <h1>Account</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number</td>
                <td>Number of Receipts</td>
            </tr>
        <thead>
        <tbody>
            {%for acc in account_list.all %}
                <tr>
                    <td> {{acc.name}} </td>
                    <td> {{acc.number}} </td>
                    <td> {{acc.receipts.all|length}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock content%}