{%extends 'base.html'%}
{%block content%}
<main>
    <h1>Expense</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number of Receipts</td>
            </tr>
        <thead>
        <tbody>
            {%for category in expensecategory_list.all %}
                <tr>
                    <td> {{category.name}} </td>
                    <td> {{category.receipts.all|length}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock content%}