<!doctype html>
<html>
    <head>
        <title>Expnses</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
</html>